@import '../../theme.scss';

.main-layout {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns:
    [sidebar-start] 15rem [sidebar-end full-start] 1fr [center-start] repeat(
      5,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

.main-window {
  grid-column: center-start / center-end;
  grid-row: 1 / 3;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / 3;
}
